@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #2a2a2a; /* very dark gray background */
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #6e6e6e; /* medium gray thumb */
  border-radius: 5px;
  border: 2px solid #2a2a2a; /* padding matching track */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0; /* lighter gray on hover */
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #3f3f3f #171717;
}
